.filters{
  display: flex;
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
      align-items: center!important;
  }
}

.filters__item{
  width:30rem;
  max-width: 30rem;
  margin: 1.2rem 0 1.2rem 0;
  @media (max-width: $desktop-breakpoint) {
    width:28rem;
  }
}

.filters__item__date{
  @extend .filters__item;
  min-width: 20rem;
  
  @media (max-width: $desktop-breakpoint) {
  width:28rem;
  }
}

select.form-control {
  &:not([size]):not([multiple]) {
    height: 52px;
  }
}

.input-control {
  height: 52px;
}