.login-box{
  background: url('/images/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.login-box__box{
  color: $off-purple;
  min-height:20rem;
  max-height:24rem;
  min-width:18rem;
  max-width:24rem;
  
  border-radius:30%;
}
.login-box__title{
  font-family: 'Indie Flower', cursive;
  color: $off-purple;
  font-size: $xl-size;
  span{
    font-size: $l-size;
  }
}