//Colors
$blue:#3c4251;
$dark-blue:#333745;
$dark-grey: rgb(201, 200, 207);
$light-blue:#464b5e;
$off-black: #20222b;
$off-purple:#594991;
$purple:#270e4d;


//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Break Points for Media Queries
$break-small: 45rem;
